$h1-font-family:'Arvo', serif;
$h2-font-family:'PT Sans', sans-serif;

$font-family-main:'Arvo', serif;
$font-family-name:'Archivo Black', sans-serif;
$font-family-second:'PT Sans', sans-serif;

$background-main:#fafafa;
$background-white:#fff;
$background-yellow:#F4D03F;
$background-lemon:#F9E79F;
$background-orange:#E67E22;
$background-black:#000;

$border-color-main:#beb8b8;
$border-color-black:rgb(7, 5, 5);

$text-black:#000;
$text-white:#fff;
$text-grey:#515A5A;

$color-yellow: #F4D03F;
$color-orange:#E67E22;
$color-error:#df1c1c;
$color-grey:#515A5A;