@import '../../static/styles/Variables.scss';

.l-list__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.l-list__item__wrapper {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: $font-family-second;
  font-size: 16px;
  background-color:$background-white;
  border: 1px solid $border-color-main;
  padding: 15px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  margin-bottom: 15px;
  transition: all 0.4s;

  @media (max-width: 720px) {
    font-size: 12px;
  }

  @media (max-width: 540px) {
    font-size: 10px;
  }

  @media (max-width: 400px) {
    width: 95%;
    font-size: 10px;
    padding: 10px 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 5px 1px rgba(244, 208, 63, 0.6);
    -moz-box-shadow: 0px 5px 5px 1px rgba(244, 208, 63, 0.6);
    box-shadow: 0px 5px 5px 1px rgba(244, 208, 63, 0.6);
    transition: all 0.4s;
  }

  li{
    text-align: left;
  }
  
  .l-list__item__number {
    width: 12%;

    @media (max-width: 400px) {
      width: 10%;
    }
  }

  .l-list__item__name {
    width: 28%;

    @media (max-width: 400px) {
      width: 20%;
      text-align: center;
    }

    .l-list__item__symbol {
      color:$text-grey;
      font-size:10px;
      padding: 0px 10px;
      display:inline-block;

      @media (max-width: 720px) {
        font-size:8px;
      }

    }
  }
  
  .l-list__item__market {
    width: 30%;

    @media (max-width: 400px) {
      width: 20%;
      text-align: center;
    }
  }

  .l-list__item__price {
    width: 17%;
    @media (max-width: 400px) {
      width: 30%;
      text-align: center;
    }
  }

}

.l-list__item-link {
  width: 100%;
  text-decoration: none;
  color:$text-black;
}