@import '../../../static/styles/Variables.scss';
@import '../../../static/styles/Mixins.scss';

.popUpPortfolio__back {
  background-color: $background-black;
  opacity: 0.6;
  min-width: 100%;
  min-height: 100vmax;
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popUpPortfolio__wraper {
  min-width: 100%;
  z-index: 200;
  position: absolute;
  top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popUpPortfolio__block {
  background-color: $background-main;
  border: 1px solid $border-color-main;
  border-radius: 15px;
  width: 720px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  @media (max-width: 760px) {
    width: 520px;
  }

  @media (max-width: 540px) {
    width: 280px;
  }

}

.popUpPortfolio__info {
  margin: 20px 0px 10px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.popUpPortfolio__text {
  font-family: $font-family-second;
  font-size: 14px;
}

.popUpPortfolio__close-button {
  background:none;
  color:$color-yellow;
  font-size:36px;
  margin-bottom: 15px;
  transition: all 0.3s;

  @media (max-width: 540px) {
    font-size:24px;
  }

  &:hover{
    transition: all 0.3s;
    transform: scale(1.1);
    cursor:pointer;
  }
}

.popUpPortfolio__message {
  font-family: $font-family-second;
  font-size: 19px;
  padding: 10px 35px;
  margin: 15px auto;
}

.slideDown{
  animation-name: pullDown;
  -webkit-animation-name: pullDown;

  animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}

@keyframes pullDown {
  0% {
      transform: scaleY(0.1);
  }
  40% {
      transform: scaleY(1.02);
  }
  60% {
      transform: scaleY(0.98);
  }
  80% {
      transform: scaleY(1.01);
  }
  100% {
      transform: scaleY(0.98);
  }
  80% {
      transform: scaleY(1.01);
  }
  100% {
      transform: scaleY(1);
  }
}

@-webkit-keyframes pullDown {
  0% {
      -webkit-transform: scaleY(0.1);
  }
  40% {
      -webkit-transform: scaleY(1.02);
  }
  60% {
      -webkit-transform: scaleY(0.98);
  }
  80% {
      -webkit-transform: scaleY(1.01);
  }
  100% {
      -webkit-transform: scaleY(0.98);
  }
  80% {
      -webkit-transform: scaleY(1.01);
  }
  100% {
      -webkit-transform: scaleY(1);
  }
}