@import '../../../static/styles/Variables.scss';

.p-list__item__button{
  font-size: 24px;
  background: none;
  color: $color-yellow;
  margin: 0px 5px 15px;
  transition: all 0.3s;

  @media (max-width: 540px) {
    font-size: 20px;
    }

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: $color-orange;
    transition: all 0.3s;
  }
}