@import '../../static/styles/Variables.scss';
@import '../../static/styles/Mixins.scss';

.header {
  width: 100%;
  max-width: 1140px;
  line-height: 50px;
  margin: 0px auto 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color:$background-white;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);

  @media (max-width: 540px) {
    flex-direction:column;
  }
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 720px) {
    align-items: flex-start;
    flex-direction: column;

    li{
      line-height: 25px;
    }
  }

  @media (max-width: 540px) {
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;

    li{
      max-height:30px;
      margin-left:30px;
    }
  }

  

}

.header__item {
    @include global-item;

    span{
      color:$text-grey;
      opacity:0.6;
    }
}

.header__portfolio-list {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 540px) {
    width:100%;
    justify-content: center;
  }

}

.header__portfolio-item {
  @include global-item;
}

.header__button {
  font-size: 14px;
  background: none;
  transition: all 0.4s;

  @media (max-width: 540px) {
    font-size: 24px;
    margin:15px;
  }

  &:hover{
    cursor:pointer;
    color:$color-yellow;
    transition: all 0.4s;
  }
}